@import url('./reset.css');

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    color: #58595b;
}

table {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

th,
td {
    vertical-align: middle;
    text-align: center;
}
#header {
    background-color: #14141f;
    position: relative;
    color: #ffffff;
}

#header h1 {
    font-size: 2em;
    text-align: center;
    line-height: 3em;
    font-weight: bold;
}

#header label {
    color: white;
    font-weight: bold;
    padding-right: 20px;
}

#header #toggleViewArea {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(0, -50%);
}
#total_table_wrap {
    padding: 20px;
    padding-top: 40px;
    line-height: 1.5em;
    text-align: center;
    overflow: auto;
}

#total_table_wrap #total_table {
    display: block;
    width: 90%;
    margin: 0 auto;
    overflow: auto;
}

#total_table_wrap #total_table th,
td {
    background-color: #fff;
    padding: 1em;
    border-bottom: 1px solid #eee;
}

#total_table_wrap #total_table thead {
    font-weight: bold;
    line-height: 1.2em;
    text-transform: uppercase;
}

#total_table_wrap input {
    font-size: 1em;
    line-height: 2em;
    text-align: center;
}
#total_table_wrap #table_button_area {
    padding-top: 20px;
}
#total_table_wrap #table_button_area button {
    display: block;
    margin: 0 auto;
    border: none;
    background-color: #004080;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    padding: 15px 30px;
    margin-top: 10px;
    border-radius: 10px;
}
#total_table_wrap #table_button_area #compare {
    background-color: #77b300;
}

#wrap_detail {
    width: 80%;
    background-color: #fff;
    padding: 10px;
    margin: 0 auto;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(32, 22, 22, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
#wrap_detail h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    line-height: 2em;
}

#wrap_detail #close,
#wrap_compare #close {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background-color: #ff6666;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
}

#wrap_table {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#wrap_table table {
    margin: 0 auto;
}

#wrap_table h3 {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    line-height: 2em;
}

#wrap_table #wrap_table_tax {
    flex: 1;
}

#wrap_table #wrap_table_non_tax {
    flex: 1;
}

#wrap_cal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
}

#wrap_cal > div {
    border-radius: 10px;
    border: 1px solid #eee;
    padding: 20px;
    margin: 0 30px;
}
#wrap_cal h3 {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    line-height: 2em;
}
#wrap_cal #cal_tax {
    flex: 3;
}

#wrap_cal #cal_non_tax {
    flex: 3;
}

#wrap_cal #calc_result {
    flex: 2;
}

#wrap_register {
    font-size: 1.3em;
    font-weight: bold;
    margin-right: 2em;
    line-height: 2em;
    width: 50%;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    margin: 0 auto;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(32, 22, 22, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
#wrap_register h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    line-height: 2em;
}

#wrap_register #personal_info input {
    font-size: 0.8em;
    margin-left: 20px;
}

#wrap_register select {
    font-size: 0.8em;
}

#wrap_register #close {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background-color: #eee;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
}

#wrap_register #add_component {
    border: none;
    background-color: #ff6666;
    border-radius: 10px;
    font-weight: bold;
    line-height: 2em;
    padding: 5px 10px;
    margin: 10px;
}

#wrap_register .component_form {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

#wrap_register .component_form > div {
    display: flex;
    flex-direction: column;
}

#wrap_compare {
    width: 70%;
    height: 90%;
    overflow: scroll;
    background-color: #fff;
    padding: 10px;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(32, 22, 22, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

#wrap_compare h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    line-height: 1.5em;
}

#wrap_compare .wrap_compare_item {
    border: 1px solid #eee;
    border-radius: 10px;
    margin: 20px;
}
